
<div class="container-fluid footer">
        <div class="row">
          <div class="col-sm-12">
              <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link" title="HTML5" href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5"><span class="fa-stack fa-2x" style="color: rgb(223, 43, 11);"><i class="fas fa-circle fa-stack-2x"></i><i class="fab fa-html5 fa-stack-1x fa-inverse"></i></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" title="CSS3" href="https://developer.mozilla.org/en-US/docs/Web/CSS"><span class="fa-stack fa-2x" style="color: rgb(75, 75, 219);"><i class="fas fa-circle fa-stack-2x"></i><i class="fab fa-css3-alt fa-stack-1x fa-inverse"></i></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Javascript" href="https://www.javascript.com/about"><span class="fa-stack fa-2x" style="color: rgb(248, 189, 25);"><i class="fas fa-circle fa-stack-2x"></i><i class="fab fa-js-square fa-stack-1x fa-inverse"></i></span></a>
                  </li>
                
                <li class="nav-item">
                    <a class="nav-link" title="Git" href="https://git-scm.com/"><span class="fa-stack fa-2x" style="color: rgb(53, 5, 53)"><i class="fas fa-circle fa-stack-2x"></i><i class="fab fa-git fa-stack-1x fa-inverse"></i></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Github" href="https://github.com/arnelimperial?tab=repositories"><span class="fa-stack fa-2x" style="color: black;"><i class="fas fa-circle fa-stack-2x"></i><i class="fab fa-github-alt fa-stack-1x fa-inverse"></i></span></a>
                  </li>
                </ul>
                <div class="container">
                  <div class="section group">
                    <div class="col span_1_of_3 justify-content-center">
                    
                        <!---FB Like buttons -->
                        
                        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fluciasalinas.bitbucket.io%2F&width=450&layout=standard&action=like&size=small&show_faces=true&share=false&height=80&appId" width="450" height="80" style="border:none;overflow:hidden;display:block;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" class="mt-5 w3-mobile fb"></iframe>
                        
    
                       
                    </div>
                    <div class="col span_1_of_3 justify-content-center tweet">
                        <a class="twitter-share-button flex-sm-fill text-sm-center nav-link w3-mobile" href="https://twitter.com/intent/tweet?text=Hello%20world%20https://luciasalinas.bitbucket.io/" data-size="small"></a>
    
                    </div>
                   
                  </div>
                  
                </div>
              
          </div>
        </div>
        <div class="row">
          <div class="col sm-12">
            <p class="text-center"><i class="fas fa-copyright" style="color: pink;">&nbsp;&nbsp;</i><a href="https://luciasalinas.bitbucket.io/" style="text-decoration: none;"><span class="lucia"><span class="l">L</span><span class="u">u</span><span class="c">c</span><span class="i">i</span><span class="a">a</span></a></span>&nbsp;<span class="year"></span></p>
            <p class="text-center text-info" style="font-family: 'Nanum Pen Script'; font-size: 20px;">Powered by: <a href="#">GH-Pages</a> || <a href="https://jekyllrb.com/">Jekyll</a> || <a href="https://staticman.net/">StaticMan</a></p>
            <p class="text-center" style="font-family: 'VT323';font-size: 17px;margin-top: -15px;">Coded with <i class="fas fa-heart" style="color: red;"></i> by <a class="w3-text-indigo" href="https://arnelimperial.bitbucket.io/"> Unkle Arnel</a></p>
          </div>
        </div>
      </div>
    
      <!-- JS -->
      <script src="{{site.baseurl}}/assets/js/vendor/modernizr-3.6.0.min.js"></script>
  
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> 
      <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
      <script async src="https://code.jquery.com/jquery-1.10.2.js"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      <script src="{{site.baseurl}}/assets/js/viewport-workaround.js"></script>
      <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
      <script src="{{site.baseurl}}/assets/js/plugins.js"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
      <script src="{{site.baseurl}}/assets/js/year.js"></script>
    
      <!--FB Like button-->
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    
      </script>
    
      <!--Twitter Button-->
    
      <script>
          window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
              if (d.getElementById(id)) return t;
              js = d.createElement(s);
              js.id = id;
              js.src = "https://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);
            
              t._e = [];
              t.ready = function(f) {
                t._e.push(f);
              };
            
              return t;
            }(document, "script", "twitter-wjs"));
        
        </script>
    
    
      <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
      <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
      </script>
      <script src="https://www.google-analytics.com/analytics.js" async defer></script>