<div class="jumbotron fluid-jumbotron">
        <div class="container">
          <div class="section group">
            <div class="col span_1_of_2">
              <h1 class="mb-2 display-4"><a href="index.html"><span class="lucia"><span class="l">L</span><span class="u">u</span><span class="c">c</span><span class="i">i</span><span class="a">a</span></span></a></h1>
            </div>
            <div class="col span_1_of_2">
              <nav class="nav nav-pills flex-column flex-sm-row">
                <a class="flex-sm-fill text-sm-center nav-link" title="Gallery" href="https://luciasalinas.bitbucket.io/"><span class="fa-stack fa-2x" style="color: palevioletred;"><i class="fas fa-circle fa-stack-2x" ></i><i class="fas fa-camera fa-stack-1x fa-inverse"></i></span></a>
                <a class="flex-sm-fill text-sm-center nav-link" title="Sounds" href="https://luciasalinas.bitbucket.io/sounds.html"><span class="fa-stack fa-2x" style="color: rgb(226, 198, 35);"><i class="fas fa-circle fa-stack-2x"></i><i class="fa fa-music fa-stack-1x fa-inverse"></i></span></a>
                <a class="flex-sm-fill text-sm-center nav-link" title="Comments" href="#"><span class="fa-stack fa-2x" style="color: rgb(197, 5, 5);"><i class="fas fa-circle fa-stack-2x"></i><i class="fas fa-pencil-alt fa-stack-1x fa-inverse"></i></span></a>
                <a class="flex-sm-fill text-sm-center nav-link" title="Contact" href="#"><span class="fa-stack fa-2x" style="color: rgb(63, 88, 201);"><i class="fas fa-circle fa-stack-2x"></i><i class="fas fa-envelope fa-stack-1x fa-inverse"></i></span></a>
                <a class="flex-sm-fill text-sm-center nav-link" title="Bitbucket" href="https://bitbucket.org/luciasalinas/luciasalinas.bitbucket.io/src/master/"><span class="fa-stack fa-2x" style="color: rgb(22, 22, 204);"><i class="fas fa-circle fa-stack-2x"></i><i class="fab fa-bitbucket fa-stack-1x fa-inverse"></i></span></a>
    
              </nav>
            </div>
          </div>
        </div>
      </div>