$contact-color:linear-gradient(to right top, #e450a4, #c953ae, #ab56b5, #8b59b7, #675bb5, #8359b4, #9b57b1, #b155ab, #ee558c, #ff7261, #ffa233, #e0d421); 
$contact-color1: linear-gradient(to left bottom, #d78fb8, #da8db5, #dd8bb2, #e08aaf, #e388ab, #f18a9e, #fa8f8f, #fe967f, #f7ae66, #dbca5f, #ade477, #5ffbad);
$border-zero: none;
$background-transparent: rgba(0,0,0,0.1);
$color-white: #FFFFFF;


.contact-card{
    background-image: $contact-color;
    border: $border-zero;
}
.w3-input, input{
    border: $border-zero;
    background-color: $background-transparent;
    color: $color-white;
}

textarea:focus, input:focus{
    outline: $border-zero;
}

.form-btn{
    background: $contact-color1;
    color: $color-white;
}