/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    scroll-behavior: smooth;
    
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.lucia{
    font-family:'VT323','Butterfly Kids','Nanum Pen Script','Bonbon', cursive, monospace;
    font-weight: 600;
}

.lucia1{
    font-size: 20px;
}


.lucia1 a{
    text-decoration: none;
}
h1 .lucia {
    border-bottom: 3px solid palevioletred;
    box-shadow: 0 3px 0 coral; 
}

p .lucia{
    border-bottom: 2px solid palevioletred;
    box-shadow: 0 2px 0 coral; 
    font-size: 24px;
}


.l{
    color: gold;
}

.u{
    color: orangered;

}
.c{
    color: red;
}

.i{
   color: green;
}

.a{
    color: indigo;
}

h1 a{
    text-decoration: none !important;

}
.fa-stack{
    font-size: 1.4em;
    box-shadow: 4px 4px 10px;
    width: 40px;
    height: 38px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 60%;
}

a{
    outline: 0;
    
}


.audio{
    margin-top: 70px;
    margin-bottom: 10px;
}
#playlist{
    background-color: rgb(211, 201, 201);
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-left: -15px;
    font-family: 'Hi Melody', cursive;
    font-size: 21px;
    
}

body{
    background-image: url('../img/debut.png');


}

/*.jumbotron{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #969ce9, #919df0, #8b9ff8, #9995ff, #ae88ff, #c777ff, #e35ffb);
}*/



#playlist .play a{
    color: palevioletred;
}

/*  SECTIONS*/
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP*/
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO*/
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS*/

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

.main{
    margin-bottom: 50px;
}

.footer{
  margin-top: 70px;
}

.year{
    font-size: 0.7em;
    color: coral;
}

img{
    color: transparent;
    max-width: 90%;
    max-height: auto;
    /*-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
     /*filter: grayscale(100%);*/
}

iframe{
    color: transparent;
    max-width: 100%;
    max-height: auto;

}
.modal-open .container-fluid, .modal-open  .container {
    -webkit-filter: blur(2px) grayscale(90%);
    filter: blur;
}

#hideShow{
    font-family: 'Hi Melody', cursive;
    color: palevioletred;
    font-weight: 600;
    font-size: 1.5em;
}

@media only screen and (max-width: 400px){
    .fb{
        margin-left: 5px;}
}



@media only screen and (max-width: 599px){
    .fb{
        margin-left: 30px;}
}

@media only screen and (min-width: 600px){
    .fb{
        margin-left: 110px;}
}
@media only screen and (min-width: 800px){
    .fb{
        margin-left: 210px;}
}

@media only screen and (min-width: 1200px){
    .fb{
        margin-left: 450px;}
}

@media only screen and (min-width: 300px){
    .tweet{
        margin-top: -20px;
        margin-left: 30px;}
}
@media only screen and (min-width: 600px){
    .tweet{
        margin-top: -50px;
        margin-left: 110px;}
}

@media only screen and (min-width: 800px){
    .tweet{
        margin-top: -40px;
        margin-left: 210px;}
}

@media only screen and (min-width: 1200px){
    .tweet{
        margin-top: -40px;
        margin-left: 450px;}
}
.modal-dialog{
    margin-top: 90px;
}

.modal-backdrop{
    
    /*background-image: linear-gradient(to right top, #e450a4, #c953ae, #ab56b5, #8b59b7, #675bb5, #8359b4, #9b57b1, #b155ab, #ee558c, #ff7261, #ffa233, #e0d421);*/
    background-image: linear-gradient(to right top, #e450a4, #c43f9d, #a23195, #80258c, #5c1b81, #671378, #70096f, #770066, #9d0058, #b81e45, #c74430, #ca6817);
   
   
}
#modal8{
    margin-top: -40px;
    min-width: 100%;
    height: auto;
    width: 50%;
    
}

.modal-video, .btn-secondary{
 /*background-image: linear-gradient(to right top, #e450a4, #c953ae, #ab56b5, #8b59b7, #675bb5, #8359b4, #9b57b1, #b155ab, #ee558c, #ff7261, #ffa233, #e0d421);*/
 /*background-image: linear-gradient(to left bottom, #d78fb8, #da8db5, #dd8bb2, #e08aaf, #e388ab, #f18a9e, #fa8f8f, #fe967f, #f7ae66, #dbca5f, #ade477, #5ffbad);*/
 background-color: rgba(0,0,0,.0001) !important;
}


.btn-outline-warning{
    border-color: palevioletred !important;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

